<!-- <section class="w-[100%]">
  <div>
    <ul>
      @if(header){

      <div
        class="hover:cursor-pointer hover:bg-gray-600 rounded-md mt-2 py-3 pl-2 mr-4"
      >
        <p class="my-auto text-sm">{{ header }}</p>
      </div>
      } @for (item of info; track $index) {
      <div
        class="flex flex-row hover:cursor-pointer text-center hover:bg-gray-600 rounded-md my-4 py-2 pl-2 mr-4"
      >
        <li><fa-icon [icon]="item.icon" [size]="'xl'"></fa-icon></li>
        <p class="my-auto mx-8 text-sm">{{ item.name }}</p>
      </div>

      }
    </ul>
  </div>
</section> -->
