<button onclick="my_modal_4.showModal()" #modal4 hidden>open modal</button>
<dialog id="my_modal_4" class="modal">
  <div class="modal-box w-11/12 max-w-3xl max-h-3xl absolute top-10">
    @if (startRecognition && transcript =='') {
    <ng-container>
      <h3 class="font-bold text-lg  text-red-300">Listening...</h3></ng-container
    >

    }
    <div class="flex justify-center">
      <p class="text-center text-2xl font-bold">{{ transcript }}</p>
    </div>
    @if (!isListening) {
    <ng-container>
      <div class="center my-16">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
    </ng-container>
    } @if (isListening) {
    <ng-container>
      <button
        class="btn btn-lg btn-circle btn-error"
        (click)="startListeningButton()"
      >
        start
      </button></ng-container
    >

    } @else {
    <ng-container>
      <button class="btn btn-lg btn-circle" (click)="stopListeningButton()">
        Stop
      </button></ng-container
    >

    }

    <div class="modal-action">
      <form method="dialog" #closeModel4 (click)="this.closed.emit(true)">
        <button class="btn btn-circle btn-ghost absolute right-2 top-2">
          <span class="text-xl">✕</span>
        </button>
      </form>
    </div>
  </div>
</dialog>
