<div class="menu bg-base-200 rounded-box divide-y-2 divide-gray-700">
  <a class="py-4">
    <div class="flex flex-row">
      <img
        class="rounded-full w-[50px] h-full"
        src="https://yt3.ggpht.com/ytc/AIdro_kca4zzSa19srlRdWdaz9q9pwaIGyPYqmyE-ZvehQJr9YL_GufA3vS1TxtgqBQFVeLJKA=s108-c-k-c0x00ffffff-no-rj"
      />
      <div class="ml-4 text-base">
        <p class="mb-1 ml-1">{{ title }}</p>
        <p>{{ chanelTitle }}</p>
        <a class="link text-blue-500">View your channel</a>
      </div>
    </div>
  </a>
  <li class="py-2">
    <a>
      <fa-icon [icon]="faFilm" class="mx-2" size="xl"></fa-icon>
      <p class="text-base">Your Studio</p>
    </a>
  </li>
  <li class="py-2">
    <div class="dropdown dropdown-bottom">
      <button
        tabindex="0"
        role="button"
        class="flex flex-row justify-between items-center"
        (click)="toggleLangMenu()"
      >
        <fa-icon [icon]="faLanguage" class="m-2" size="xl"></fa-icon>
        <p class="text-base ml-[25px]">
          Langugae: <span class="" tabindex="0">English</span>
        </p>
      </button>

      <ul
        #langMenus
        tabindex="0"
        class="pt-6 lang-menu dropdown-content menu shadow bg-base-100 rounded-box block overflow-y-scroll h-dvh -left-[40px]"
      >
        <li (click)="leftchangelang()">
          <fa-icon
            [icon]="faArrowLeft"
            size="xl"
            class="w-[60px] rounded-full"
          ></fa-icon>
        </li>
        @for (language of languages; track $index) {
        <li class="py-2 px-16 text-base right-3">
          @if (language == 'English') {
          <div class="flex flex-row">
            <fa-icon [icon]="faCheck" size="xl"></fa-icon>
            <span class="ml-2">{{ language }}</span>
          </div>
          } @else {
          <span>{{ language }}</span>
          }
        </li>
        }
      </ul>
    </div>
    <div>
      <fa-icon [icon]="faGlobe" class="m-2" size="xl"></fa-icon>
      <button class="text-base ml-2">
        Location: <span class="mx-1">Egypt</span>
      </button>
    </div>
  </li>
  <li class="py-2">
    <div class="">
      <fa-icon [icon]="faGear" class="mx-2" size="xl"></fa-icon>
      <p class="text-base">Setting</p>
    </div>
    <a>
      <fa-icon [icon]="faArrowRightToBracket" class="mx-2" size="xl"></fa-icon>
      <p class="text-base">Signout</p>
    </a>
  </li>
</div>
