<aside
  class="bg-base-100 fixed h-[100%] block top-16 hover:overflow-auto overflow-hidden"
  #aside
>
  <!-- <div
    class="grid grid-cols-1 divide-y divide-gray-700"
    [class]="openSidebar() ? 'w-[230px] ' : 'w-auto'"
  >
    <ul>
      @for (item of list; track $index) {
      <div
        [routerLink]="item.link"
        routerLinkActive="active_route"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex felx-row hover:cursor-pointer text-center hover:bg-gray-600 py-2 my-4"
      >
        <li class="px-4 mx-auto">
          <mat-icon aria-hidden="false" aria-label=" icon">{{
            item.icon
          }}</mat-icon>
        </li>
        <p [class]="!openSidebar() ? 'hidden' : ''" class="my-2 text-sm">
          {{ item.name }}
        </p>
      </div>
      }
    </ul>
  </div> -->

  <div
    class="grid grid-cols-1 divide-y divide-gray-700"
    [class]="openSidebar() ? 'w-[230px] ' : 'w-auto'"
  >
    <ul>
      @for (item of list; track $index) {
      <div
        [routerLink]="item.link"
        routerLinkActive="active_route"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex felx-row justify-center items-center hover:cursor-pointer text-center hover:bg-gray-600 py-2 my-4"
      >
        <li [class]="!openSidebar() ? 'px-4 mx-auto ' : 'mr-10 px-4'">
          <mat-icon aria-hidden="false" aria-label=" icon">{{
            item.icon
          }}</mat-icon>
        </li>
        <p [class]="!openSidebar() ? 'hidden' : ''" class="my-2 text-sm">
          {{ item.name }}
        </p>
      </div>
      }
    </ul>
  </div>
</aside>
