::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 95, 95);
}

.active_route {
  background-color: #1f1f1f;
  color: #4548ff;
  border-left: 3px solid #4548ff;
  border-right: 2px solid #4548ff;
}
